<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <input type="hidden" th:value="${event.id}" name="eventId" class="form-control">
        <label>Name
            <input type="text" name="name">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" name="description" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Location
            <input type="text" name="location" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input type="text" name="numAttendees" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Event Schedule
            <input type="text" name="eventTime" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success">
    </div>
</form>

</body>
</html>